 .u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
  min-height: 1302px;
}

.u-section-1 .u-image-1 {
  height: 722px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: -289px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 413px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -290px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1563px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -195px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 844px;
    margin-left: calc(((100% - 1140px) / 2) + 457px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: -166px;
    margin-left: calc(((100% - 1140px) / 2) + 463px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2032px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 330px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -206px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 529px;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(#db545a, #478ac9);
}

.u-section-2 .u-sheet-1 {
  min-height: 826px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 60px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 65px;
  }
}